
	/*<!-- css-селектор - указывает браузеру, какие элементы html 
	нужно выбрать для применения стилей -->*/
	/*<!-- css селектор (*/
		/*свойство1: значение;*/
		/*свойство2: значение;*/
		/*свойство3: значение;*/
		)* -->
	/*<!-- 1. Селектор тега (имя тега) * -->*/
	h3 {
		color: green;
		}

	h3 {
		color: yellow;
		}
		/*<!-- применится ПОСЛЕДНИЙ -->*/

	h3 {
		color: green !important;
		}

	h3 {
		color: yellow;
		}
		/*<!-- применится important -->*/

		/*2. Селектор идентификатора документа (через атрибут id)*/
		#container {
			height: 100px;
			width: 300px;
			background: yellow;
		}

		/*3. Селектор класса (стили применяются ко всем элементам,
		для которых указан соответствующий класс*/
	.text-center {
		text-align: center;
	}

		/*4. Дочерний селектор*/
		/*css-селектор1 > css-селектор {}*/
		/*вместо css-селектор могут быть использованы ид, имена классов*/
		p > span {
			font-weight: bold;
		}
		/*это применится только к спану внутри п*/


		/*5. Селктор потомков (т.е. не только к дочерним, но и к внукам и тд.*/
		div span {
			color:orange;
		}

		/*Селектор будет искать ССЫЛКУ в ДИВЕ с КЛАССОМ ГРИН:*/
		div .green a{
			text-decoration: none;
			color: green;
		}
		 p.brown a{
		 	text-decoration: line-through;
		 	color: brown;
		 }

		/*6. Селектор атрибута*/
		/*,Используется при стилизации форм*/
		
		/*ВАРИАНТЫ:*/
		[атрибут]
		[атрибут="значение"]
		css-селектор [атрибут]
		css-селектор [атрибут="значение"]

		input[type="text"]

		 /*Наследование стилей - мы назначаем стили элементам*/
		 /*а они переходят ко всем его потомкам.*/
		 /*Не все стиил наследуются! Рамка-нет*/
		 .example {
		 	color: red;
		 	border: 1px solid black;
		 }

		 /*Принудительное наследование*/
		 .example p {
		 	border: inherit;
		 }

		 #some_id {
		 	background: yellow;
		 }

		 .some-class {
		 	background: green;
		 }

		 h5 {
		 	background: red;
		 }



	
</body>
</html>